@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  /* border: solid red 2px; */
}
body {
  color: #023047;
}

h1,
h2,
h3,
h4 {
  font-family: "Libre Baskerville", serif;
}
/* Font family classes */
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Animations */

.create-account-link:hover p {
  transition: all ease-in 200ms;
  opacity: 0.5;
}

.create-account-link p {
  transition: all ease-in 200ms;
  opacity: 1;
}
/* Contact Form */

.contact-form textarea {
  resize: none;
}
.contact-form textarea::placeholder {
  color: #023047;
}

/* Grids*/

.gallery-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
}

/* Grids end */
.book-info-card {
  height: ;
}
.card img {
  aspect-ratio: 2/3;
  object-fit: cover; /*prevents images from stretch*/
}

.image-container {
  overflow: hidden;
}

.text-title-animation {
  background-color: salmon;
  overflow: hidden;
}
.card:hover .quick-actions {
  transform: translateY(-100%);
  transition: all ease-in-out 400ms;
}
.quick-actions {
  transform: translateY(100%);
  transition: all ease-in-out 400ms;
}
.add-to-cart-btn {
  opacity: 0;
}
.card:hover .add-to-cart-btn {
  opacity: 1;
}

.add-to-cart-btn:hover,
.quick-view-btn:hover {
  background-color: rgba(29, 53, 87, 0.9);
  transition: all ease-in-out 300ms;
}
.add-to-cart-btn,
.quick-view-btn {
  transition: all ease-in-out 300ms;
}

@media (max-width: 1024px) {
  .gallery-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: minmax(150px, 300px);
  }
  .card img {
    aspect-ratio: ;
    object-fit: cover; /*prevents images from stretch*/
  }
}
