@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  /* border: solid red 2px; */
}
body {
  color: #023047;
}

h1,
h2,
h3,
h4,
.price {
  font-family: "Libre Baskerville", serif;
}
/* Font family classes */
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Animations */

.create-account-link:hover p {
  transition: all ease-in 200ms;
  opacity: 0.5;
}

.create-account-link p {
  transition: all ease-in 200ms;
  opacity: 1;
}
/* Contact Form */

.contact-form textarea {
  resize: none;
}
.contact-form textarea::placeholder {
  color: #023047;
}

/* Side cart menu */
.side-cart-menu-open {
  z-index: 10;
  transform: translateX(0%);
  transition: all ease-in-out 200ms;
}

.side-cart-menu-closed {
  z-index: 10;
  transform: translateX(100%);
  transition: all ease-in-out 200ms;
}

/* Grids*/

.gallery-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
}

.sign-in-grid-block {
  /* position: relative; */
  /* display: grid; */
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(8, 80px);
}

.item-cont {
  grid-column-start: 4;
  grid-column-end: 13;
  z-index: 2;
}
.item-bg {
  grid-column-start: 2;
  grid-column-end: 15;
  grid-row-start: 2;
  grid-row-end: 9;
}
.item-1 {
  width: 5rem;
  height: 5rem;
}
.item-2 {
  width: 5rem;
  height: 5rem;
}

.basket-tile-item {
  grid-template-columns: repeat(2, 1fr);
  padding-block: 2rem;
  border-bottom: 1px solid #023047;
}
.grid-cols-inner-info {
  grid-template-columns: 10rem 9rem;
}
.basket-tile-item img {
  aspect-ratio: 2/3;
  object-fit: cover;
}
/* Grids end */
.nav-links a.active {
  opacity: 0.7;
}

.card img {
  aspect-ratio: 2/3;
  object-fit: cover; /*prevents images from stretch*/
}

.image-container {
  overflow: hidden;
}

.text-title-animation {
  background-color: salmon;
  overflow: hidden;
}
.card:hover .quick-actions {
  transform: translateY(-100%);
  transition: all ease-in-out 400ms;
}
.quick-actions {
  transform: translateY(100%);
  transition: all ease-in-out 400ms;
}
.add-to-cart-btn {
  opacity: 0;
}
.card:hover .add-to-cart-btn {
  opacity: 1;
}

.add-to-cart-btn:hover,
.quick-view-btn:hover {
  background-color: rgba(29, 53, 87, 0.9);
  transition: all ease-in-out 300ms;
}
.add-to-cart-btn,
.quick-view-btn {
  transition: all ease-in-out 300ms;
}

@media (max-width: 1024px) {
  .gallery-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: minmax(150px, 300px);
  }
  .card img {
    aspect-ratio: ;
    object-fit: cover; /*prevents images from stretch*/
  }
}
