@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font family classes */
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Animations */
.quick-view-container {
  transition: all ease-in 200ms;
  transform: translateY(100%);
}

.card-container:hover .quick-view-container {
  transition: all ease-in 150ms;
  transform: translateY(0);
}

.add-to-cart-btn {
  transition: all ease-in 200ms;
  opacity: 0;
}

.card-container:hover .add-to-cart-btn {
  transition: all ease-in 200ms;
  opacity: 1;
}

/* Contact Form */

.contact-form textarea {
  resize: none;
}
.contact-form textarea::placeholder {
  color: #023047;
}
